@import "../../styles/styles.scss";

.item__element {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  font-family: $main_font-family;
  .places__home-description {
    display: flex;
    gap: 2%;
    width: 100%;
    transition: all 0.5s;
    .homes__destination {
      color: $color_black;
      margin-bottom: 8px;
    }
  }

  .price__label,
  .low-price__label {
    color: $color_black;
    margin: 24px 0;
    font-size: 24px;
  }
  .price__label {
    text-decoration: line-through;
  }
  .low-price__label {
    color: $color_red;
    font-weight: 700;
  }
  .image__container {
    position: relative;
    .image_like {
      position: absolute;
      z-index: 55;
      width: 48px;
      height: 10%;
      right: 2%;
      top: 0.5%;
      fill: $color_white;
    }
    .image_like-clicked {
      fill: $color_red;
    }
    .item_discount {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 16%;
      height: 6%;
      text-align: center;
      background: $color_red;
      color: $color_white;
    }

    .item__add-layer {
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: rgba(0, 0, 0, 0.5);
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 48px;
        border: none;
        border-radius: 24px;
        transition: all 0.5s ease-in;
      }
      button:hover {
        font-size: 20px;
      }
    }

    .item__add-layer:hover {
      opacity: 1;
    }

    .places__image {
      position: relative;
      z-index: 1;
      transition: all 0.5s linear;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @include _1240 {
    .image__container {
      .image_like {
        width: 32px;
      }
      .item__add-layer {
        button {
          font-size: 16px;
        }
        button:hover {
          font-size: 18px;
        }
      }
      .item_discount {
        width: 24%;
        height: 10%;
        font-size: 16px;
      }
    }
    .places__home-description {
      text-decoration: none;
      .price__label,
      .low-price__label {
        font-size: 16px;
      }
    }
  }

  @include _600 {
    .image__container {
      .image_like {
        width: 28px;
      }
    }
    .places__home-description {
      .price__label,
      .low-price__label {
        font-size: 12px;
      }
    }
  }
}
