$color_white: #FFFFFF;
$color_black: #000F08;
$color_main-grey: #E5E5E5;
$color_pink-grey: #EDE7F0;


$main_font-family: 'Roboto', sans-serif;

$footerElementsBorder:  2px dashed $color_main-grey;


@mixin _1240 {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

@mixin _600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}


.container{
  width: 90%;
  margin: 120px auto;
  @include _600{
    margin: 40px auto;
  }
}