$color_white: #ffffff;
$color_black: #000f08;
$color_main-grey: #e5e5e5;
$color_pink-grey: #ede7f0;
$color_red: #d7302d;
$color_initial-grey: #bdbdbd;

$main_font-family: "Roboto", sans-serif;

$footerElementsBorder: 2px dashed $color_main-grey;

@mixin _1240 {
  @media screen and (max-width: 1240px) {
    @content;
  }
}

@mixin _600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

.container {
  width: 90%;
  margin: 120px auto;
  @include _600 {
    margin: 40px auto;
  }
}
