@use "sass:math";
@import "src/styles/styles";


.header {
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  position: relative;

  $width: 100%;

  .headerItem {
    font-family: $main_font-family;
    color: $color_white;
    width: math.div($width, 3);
    .headerMenu {
      display: none;
    }
    .headerList {
      padding: 0 4%;
      display: flex;
      justify-content: space-around;
      list-style: none;
      align-items: center;
      .header-link,
      li {
        text-decoration: none;
        color: $color_white;
        display: flex;
        align-items: center;
        .bagIcon {
          display: none;
          fill: $color_white;
        }
        .headerIcon-search {
          fill: $color_white;
          width: 25px;
          height: 25px;
        }
      }
      .header-link_dark,
      .li-dark {
        color: $color-black;
      }
      .header-link:hover,
      li:hover {
        opacity: 0.6;
      }
    }
    
    .headerItem__logo {
      max-width: 70%;
      max-height: 55px;
      fill: $color_white;
    }
    .headerItem__logo-dark {
      fill: $color_black;
    }

    .headerIcon-like {
      width: 30px;
      height: 30px;
      fill: $color_white;
    }

    .headerIcon-dark {
      fill: $color_black;
    }

    $nav_width: 40px;
    @include _1240 {
      width: 20%;

      .headerMenu {
        display: block;
        content: "";
        width: $nav_width;
        height: 4px;
        position: relative;
        background: $color_white;
        margin: 0 8% 8px;
      }
      .headerMenu:before {
        content: "";
        width: $nav_width;
        height: 4px;
        position: absolute;
        top: -10px;
        background: $color_white;
      }
      .headerMenu:after {
        content: "";
        width: math.div($nav_width, 1.5);
        height: 4px;
        position: absolute;
        top: 10px;
        background: $color_white;
      }

      .headerMenu-dark {
        background: $color_black;
      }
      .headerMenu-dark:before {
        background: $color_black;
      }
      .headerMenu-dark:after {
        background: $color_black;
      }

      .headerList__nav {
        display: none;
      }

      .headerIcon-like {
        width: 30px;
        height: 30px;
      }

      .headerList {
        .mobileHidden {
          display: none;
        }
        .header-link {
          .bagIcon {
            display: block;
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    $nav_width: 20px;
    $nav_height: 1.7px;
    @include _600 {
      width: 30%;
      .headerMenu {
        margin-top: 10%;
        width: $nav_width;
        height: $nav_height;
      }
      .headerMenu:before {
        width: $nav_width;
        height: $nav_height;
        top: -5px;
      }
      .headerMenu:after {
        width: math.div($nav_width, 1.5);
        height: $nav_height;
        top: 5px;
      }

      .headerIcon-like {
        width: 20px;
        height: 20px;
      }
    }
  }

  .headerItem-logo {
    display: flex;
    justify-content: center;
  }

  @include _1240 {
    .headerItem-logo {
      width: 50%;
    }
  }

  @include _600 {
    .headerItem-logo {
      width: 40%;
      .headerItem__logo {
        width: 100%;
      }
    }
  }

  .header_modal-search{
    display: none;

  }

  .header_modal-search_active{
    display: flex;
    position: absolute;
    width: 100%;
    height: 200vh;
    background: $color_main-grey;
    align-items: center;
    padding: 24% 0 4% 20%;
    .header_modal-close-block{
      content: "";
      width: 62px;
      height: 2px;
      background: $color_white;
      transform: rotate(45deg);
      margin: 0 36px;
    }
    .header_modal-close-block:after{
      position: absolute;
      content: "";
      width: 62px;
      height: 2px;
      background: $color_white;
      transform: rotate(-90deg);
    }
    input{
      height: 40px;
      width: 85%;
      background: none;
      border: none;
      color: $color_white;
      font-family: $main_font-family;
      font-size: 32px;
      font-weight: 400;
      border-bottom: 2px solid $color_white;
    }
  }
}
